1.) FROM VALIDATION 
2.) INSERT DATA DB ENTER 
3.) LOGIN EMAIL & USERNAME CANT BE SAME NEXT SAME USER
4.) LIST ALL TABLE FORM DB 
5.) EDIT OPTION curd
6.) EDIT PASSWORD VALIDATION AND UPDATE NEW PASSWORD 

